openapi: 3.0.0
info:
  title: Microsoft Entra Secure Score API
  description: An API to retrieve the Microsoft Entra Secure Score for the organization. This plugin integrates with Microsoft Graph to fetch security posture data.
  version: 1.0.0
servers:
  - url: https://graph.microsoft.com/v1.0
paths:
  /secureScores:
    get:
      operationId: getSecureScores
      summary: Get Secure Scores
      description: Retrieves the collection of all secure scores for the tenant.
      responses:
        '200':
          description: A list of secure scores for the tenant.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/secureScore'
        '401':
          description: Unauthorized. The request does not have the necessary authentication credentials.
        '403':
          description: Forbidden. The authenticated user does not have the necessary permissions.
components:
  schemas:
    secureScore:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for the secure score object. Read-only.
        activeUserCount:
          type: integer
          description: The number of active licensed users in the tenant.
        azureTenantId:
          type: string
          description: The GUID string for the tenant ID.
        currentScore:
          type: number
          description: The tenant's current attained secure score.
        maxScore:
          type: number
          description: The maximum possible score on the specified date.
        # This is a simplified representation to adhere to the depth of 1 constraint.
        # It's no longer a nested array of objects.
        controlScores_flattened:
          type: array
          description: Simplified scores for a set of security controls (string representation).
          items:
            type: string
