openapi: 3.0.1
info:
  title: Microsoft Secure Score API
  version: 1.0.0
  description: API for retrieving Microsoft Secure Score and control profiles from Microsoft Graph API. It provides the latest secure score, historical scores, and control profiles.

servers:
  - url: https://graph.microsoft.com/v1.0

paths:
  /security/secureScores:
    get:
      operationId: getSecureScores
      summary: Retrieve all Microsoft Secure Scores
      description: Retrieves current and historical Microsoft Secure Scores for the organization.
      parameters: []
      responses:
        '200':
          description: A successful response with an array of secure score objects.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/SecureScore'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  schemas:
    SecureScore:
      type: object
      properties:
        id:
          type: string
          description: Unique ID of the secure score object.
        azureTenantId:
          type: string
        currentScore:
          type: number
        maxScore:
          type: number
        createdDateTime:
          type: string
          format: date-time

    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
