openapi: 3.0.1
info:
  title: Entra Secure Score API
  version: 1.0.0
  description: API to retrieve the Entra Secure Score from the Microsoft Graph API.
servers:
  - url: https://graph.microsoft.com/v1.0
paths:
  /security/secureScores:
    get:
      summary: Get the current Entra Secure Score
      operationId: getSecureScore
      description: Retrieves the secure score information for your tenant.
      security:
        - AADDelegatedAuth:
          - SecurityEvents.Read.All
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/secureScore'
      x-ms-capabilities: {}
components:
  securitySchemes:
    AADDelegatedAuth:
      type: oauth2
      description: "Microsoft Entra ID Delegated Access"
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/c646f0a4-4a54-4072-92a7-e4c57f5e6702/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/c646f0a4-4a54-4072-92a7-e4c57f5e6702/oauth2/v2.0/token
          scopes:
            SecurityEvents.Read.All: "Read all security events."
  schemas:
    secureScore:
      type: object
      properties:
        id:
          type: string
        azureTenantId:
          type: string
        activeUsers:
          type: number
        currentScore:
          type: number
        maxScore:
          type: number
        scoreInPercentage:
          type: number
        createdDateTime:
          type: string
          format: date-time
        lastUpdatedDateTime:
          type: string
          format: date-time
        controlScores:
          type: array
          items:
            $ref: '#/components/schemas/secureScoreControlProfile'
    secureScoreControlProfile:
      type: object
      properties:
        id:
          type: string
        actionType:
          type: string
        controlCategory:
          type: string
        title:
          type: string
        description:
          type: string
        rank:
          type: number


