openapi: 3.0.1
info:
  title: Entra Tenant Secure Score API
  version: 1.0.0
  description: API to retrieve the historical tenant secure scores from the Microsoft Graph beta API.
servers:
  - url: https://graph.microsoft.com/beta
paths:
  /directory/recommendations/tenantSecureScores:
    get:
      summary: Get the historical Entra Tenant Secure Score
      operationId: getTenantSecureScores
      description: Retrieves the historical tenant secure scores for your tenant.
      parameters:
        - name: $count
          in: query
          required: false
          schema:
            type: boolean
          description: To get the total count of items in the collection.
        - name: $top
          in: query
          required: false
          schema:
            type: integer
          description: The number of items to return in the collection.
      security:
        - AADDelegatedAuth:
          - DirectoryRecommendations.Read.All
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/tenantSecureScore'
      x-ms-capabilities: {}
components:
  securitySchemes:
    AADDelegatedAuth:
      type: oauth2
      description: "Microsoft Entra ID Delegated Access"
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes:
            DirectoryRecommendations.Read.All: "Read all Entra directory recommendations."
  schemas:
    tenantSecureScore:
      type: object
      properties:
        tenantScore:
          type: number
        tenantMaxScore:
          type: number
        createDateTime:
          type: string
          format: date-time
