openapi: 3.0.1
info:
  title: Microsoft Secure Score Plugin API
  description: Access Microsoft Secure Score data and recommendations via Microsoft Graph.
  version: 1.0.0
servers:
  - url: https://graph.microsoft.com/v1.0
paths:
  /security/secureScores:
    get:
      summary: Get current Secure Score
      operationId: getSecureScore
      tags:
        - SecureScore
      responses:
        '200':
          description: Secure Score data retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecureScore'
  /security/secureScoreControlProfiles:
    get:
      summary: Get Secure Score recommendations
      operationId: getRecommendations
      tags:
        - Recommendations
      responses:
        '200':
          description: Recommendations retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecommendationList'
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes:
            https://graph.microsoft.com/.default: Access Microsoft Graph Secure Score data
  schemas:
    SecureScore:
      type: object
      properties:
        id:
          type: string
        currentScore:
          type: number
          format: float
        maxScore:
          type: number
          format: float
        enabledServices:
          type: array
          items:
            type: string
        averageScore:
          type: number
          format: float
        createdDateTime:
          type: string
          format: date-time
    RecommendationList:
      type: object
      properties:
        value:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              actionType:
                type: string
              title:
                type: string
              implementationCost:
                type: string
              remediationImpact:
                type: string
              scoreImpact:
                type: number
security:
  - OAuth2: []
